{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@assets": "./assets",
          "@components": "./src/components",
          "@constants": "./src/constants",
          "@models": "./src/models",
          "@navigations": "./src/navigations",
          "@screens": "./src/screens",
          "@validations": "./src/validations",
          "@data": "./src/data"
        }
      }]
    ]
}